.card {
    flex:1 1;
    min-width: 300px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hidden {
    visibility: hidden;
}

.card h3 {
    margin-bottom: 20px;
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.formGroup {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.formItem {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 4px;
}

.formItem label {
    font-weight: 500;
    color: #777;
}

.fieldInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submitBtn {
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    background-color: #6952e0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
